---
layout: article
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---

<!-- <div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script> -->

<h1> Home </h1>
<h3> Welcome to my page! </h3>
Hi! Welcome aboard to my simple website (<i>kinda</i>). Feel free to use the resources below. I hope you find them useful.

<a href="https://nathanaelrpw.github.io/a/2022/11/05/integral.html" title="The definite integral" style="color:blue;">The definite integral</a>

{{ content }}
